.cover {
    height: 100vh;
    position: absolute;
     top: 25%;
    left: 45%;
    margin: -25px 0 0 -25px;
    
  }
  
  .row-margin {
    margin: 4vh auto;
  }
  
  body {
    background: #474747;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #474747, #7d7759);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #622e2e, #b9b188);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .header {
    color: #fff;
    font-size: 30px;
  }
  
  h1 {
    font-family: "Pacifico";
  }
  
  .btn-default {
    background-color: black;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    background: rgb(185, 185, 59);
    font-size: 20px;
}